.wrap {
    background-color: #ccc;
    width: 100%;
}

.header {
    background-color: #fff;
    width: 100%;
    height: 87px;
    position: fixed;
    z-index: 999;
    top: 0;
}

.nav {
    display: flex;
    width: 75%;
    margin: 0 auto;
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    width: 60%;
    z-index:1;
}

.menu > ul {
    display: flex;
}

.menu > ul > li {
    width: 25%;
}

.menu > ul > li > a {
    display: block;
    line-height: 87px;
    text-align: center;
    font-size: 1.2rem;
}

.menu > ul > li > a:hover {
    color: #ffb74c;
}

.language {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select_language {
    color: #0066CC;
    border-bottom: solid 1px #0066CC;
    line-height: 35px;
    cursor: pointer;
    font-size: 1.2rem;
}

.select_language::after {
    content: "▼";
}

.sub_menu_container {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.2s ease;
}

.sub_menu_container.visible {
    height: 221px;
}

.sub_menu {
    width: 45%;
    height: 100%;
    display: flex;
}

.sub_menu > ul {
    width: 25%;
    text-align: center;
    border-right: solid 0.5px #fff;
    margin-top: 20px;
}

.sub_menu > ul:last-child {
    border: none;
}

.sub_menu > ul > li {
    height: 25%;
    overflow: hidden;
}

.sub_menu > ul > li > a {
    color: #fff;
    display: inline-block;
    margin: 10px 0;
    padding: 5px 0;
}

.sub_menu > ul > li > a:hover {
    color: #ccc;
    border-bottom: solid 1px #ccc;
}

.contents {
    background-color: red;
    margin-top: 87px;
    width: 100%;
    /*height: 1500px;*/
}

.section1 {
    background-color: rebeccapurple;
    width: 100%;
    height: 210px;
}

.keep_container {
    background-color: #ccc;
    width: 100%;
}

.keep_contents > h1 {
    background-color: #ffb74c;
    text-align: center;
    margin-top: 2rem;
}

.keep_contents {
    background-color: green;
    width: 70%;
    margin: 0 auto;
    height: 800px;
}

.keep_search {
    background-color: blue;
    margin: 1.5rem 0;
    text-align: right;
}

.keep_search > input {
    margin-right: 16px;
    height: 2rem;
    border-radius: ;
}

.keep_adr_container {
    background-color: purple;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.keep_adr {
    background-color: #ccc;
    height: 200px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.keep_adr_infor {
    background-color: #fff;
}

.title {
    font-weight: bold;
    font-size: 1.2rem;
}

.location::before {
    content: url("../images/location.png");
    margin-right: 7px;
}

.location {
    margin: 10px 0;
}

.keep_adr > a {
    display: inline-block;
    background-color: #fff;
    border: solid 1px #ccc;
    padding: 13px 0;
    width: 50%;
    text-align: center;
}

.keep_adr > a:hover {
    background-color: #ffb74c;
    color: white;
}

.footer {
    background-color: #343333;
    width: 100%;
    height: 191px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_infor {
    width: 1240px;
    height: 46px;
    display: flex;
}

.footer_infor_con1 {
    width: 700px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
    border-right: solid 1px #ededed;
}

.footer_infor_con1 > ul > li,
.footer_infor_con1 > ul > li > span {
    color: white;
}

.footer_infor_con1 > ul > li > span::before {
    content: "";
    border-left: solid 1px white;
    opacity: 0.4;
    display: inline-block;
    height: 12px;
    margin: 0 10px;
}

.footer_infor_con2 {
    width: calc(100% - 700px);
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    font-size: 0.7rem;
}

.footer_infor_con2 > ul {
    width: 112px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 4px;
}

.footer_infor_con2 > ul > li {
    text-align: center;
}

.footer_infor_con2 > ul > li > a {
    display: block;
    color: white;
    background-color: #232323;
    line-height: 21px;
}

.footer_infor_con2 > p {
    margin-left: 120px;
    color: white;
}

