.wrap {
  width: 100%;
}

.contents {
  margin-top: 87px;
  width: 100%;
}

.section1 {
  background: url("/src/images/images (5).jpg");
  width: 100%;
  height: 210px;
  background-size: contain;
  background-position: center;
}

.reservation_infor_container {
  overflow: hidden;
  text-align: center;
}

.reservation_infor {
  overflow: hidden;
  margin: 1.5rem 0;
  text-align: center;
}

.reservation_infor_text {
  overflow: hidden;
  margin: 1rem;
}

.reservation_infor_text > h1 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.reservation_infor_text > p {
  animation: slideUp 1s forwards;
  animation-delay: 0.4s;
  transform: translateY(100%);
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.reservation_infor_contents_container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  transform: translateY(150%);
  animation: slideUp 1.5s forwards;
  animation-delay: 0.8s;
}

@media (max-width: 1250px) {
  .reservation_infor_contents_container {
    flex-direction: column;
    align-items: center;
  }
}

.reservation_infor_contents {
  background-color: #e3e3e3;
  overflow: hidden;
  position: relative;
  width: 470px;
  height: 270px;
  margin: 3rem;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  border: solid 2px #787878;
  box-shadow: 0 0 5px #474747;
  transition: all 0.5s;

}

.reservation_infor_contents:hover {
  box-shadow: 0 0 10px #000;
  transform: translateY(-10px);

}

.reservation_infor_contents:hover > .reservation_infor_contents_btn {
  background-color: #b80000;
  transition: all 0.5s;
}

/*.reservation_infor_contents_title {*/
/*  background-color: #fff;*/
/*  display: inline-block;*/
/*  position: absolute;*/
/*  transform: translate(-50%, -50%);*/
/*  border: solid 1px #ccc;*/
/*  border-radius: 10px;*/
/*  top: 0;*/
/*}*/

.reservation_infor_contents_title > h2 {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
}

.reservation_infor_contents_main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.reservation_infor_contents_main_section_img {
  background-color: #e8e8e8;
  width: 130px;
  height: 130px;
  border: solid 2px black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation_infor_contents_main_section_img > img {
  width: 90px;
  height: 90px;
}

.reservation_infor_contents_main_section_text {
  margin-top: 1rem;
}

.reservation_infor_contents_main_section_text > p {
  font-size: 1.1rem;
  font-weight: bold;
}

.reservation_infor_contents_btn {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #002eb8;
  display: block;
  width: 100%;
  line-height: 3rem;
  font-size: 1.2rem;
  color: white;
}

