@font-face {
    font-family: "KoPub Dotum";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("https://cdn.jsdelivr.net/gh/fonts-archive/KoPubDotum/KoPubDotum-Light.woff2")
    format("woff2"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/KoPubDotum/KoPubDotum-Light.woff")
    format("woff"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/KoPubDotum/KoPubDotum-Light.otf")
    format("opentype"),
    url("https://cdn.jsdelivr.net/gh/fonts-archive/KoPubDotum/KoPubDotum-Light.ttf")
    format("truetype");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "KoPub Dotum", serif ;
}
li{
    list-style: none;
}
.title{
    text-align: center;
    color: dodgerblue;
    font-weight: bold;
    font-size: 2.0rem;
    margin-top: 6rem;
    margin-bottom: 1rem;
}
.sub-title{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 3rem;
    line-height: 2rem;
}
.search-btn{
    margin : 0 auto;
    width: 18rem;
    height: 5rem;
    border : 3.5px solid #44311A;
    border-radius: 3rem;
    text-align: center;
    line-height: 5rem;
    cursor: pointer;
}
.search-btn:hover{
    background-color: rgba(246, 246, 246, 1);
}
.search-btn a{
    color: #44311A;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}
.search-btn i{
    color: #44311A;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 0.8rem;
}
.how-to{
    display: flex;
    justify-content: center;
}
.how-to-use2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.use-icon{
    background-color: rgba(246, 246, 246, 1);
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 1rem;
    width: 13rem;
}
.use-icon:hover{
    background-color: rgba(238, 238, 238, 1);
}
.use-step{
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: rgba(255, 153, 0, 1);
    margin-bottom: 1rem;
}
.use-tit{
    font-weight: bold;
    font-size: 1.2rem;
}
.use-txt{
    font-size: 1rem;
    text-align: center;
}
.use-icon img{
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
    margin: 1rem auto;
}

